services:
  vectorizer:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.6
    ports:
      - "8080:80"
    volumes:
      - "./data:/data"
    command: ["--model-id", "nomic-ai/nomic-embed-text-v1.5"]

  reranker:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.6
    ports:
      - "8081:80"
    volumes:
      - "./data:/data"
    command: ["--model-id", "BAAI/bge-reranker-large"]

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./rag/:/app/rag/
    env_file:
      - .env
    depends_on:
      - vectorizer
      - reranker

networks:
  default:
    name: rag